<?xml version="1.0"?>
<config>
    <modules>
        <Cotya_StatisticsBase>
            <version>0.1.0</version>
        </Cotya_StatisticsBase>
    </modules>
    <global>
        <blocks>
            <cotya_statisticsbase>
                <class>Cotya_StatisticsBase_Block</class>
            </cotya_statisticsbase>
        </blocks>
        <helpers>
            <cotya_statisticsbase>
                <class>Cotya_StatisticsBase_Helper</class>
            </cotya_statisticsbase>
        </helpers>
        <models>
            <cotya_statisticsbase>
                <class>Cotya_StatisticsBase_Model</class>
                <resourceModel>cotya_statisticsbase_resource</resourceModel>
            </cotya_statisticsbase>
            <cotya_statisticsbase_resource>
                <class>Cotya_StatisticsBase_Model_Resource</class>
                <entities>
                    <entry>
                        <table>cotya_statisticsbase_entry</table>
                    </entry>
                </entities>
            </cotya_statisticsbase_resource>
        </models>
        <resources>
            <cotya_statisticsbase_setup>
                <setup>
                    <module>Cotya_StatisticsBase</module>
                </setup>
            </cotya_statisticsbase_setup>
        </resources>
    </global>
</config>